<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head" th:attr="lang=${#locale}">
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">

  <title>Ticketing System</title>
</head>
<body>

<div class="container" th:fragment="navbar">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">TICKETS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="" th:href="@{/}" th:text="#{nav.home}">home</a>
        <a
            class="nav-item nav-link"
            href="" th:href="@{/users}"
            th:text="#{nav.users}"
            sec:authorize="hasAuthority('COORDINATOR')"
        >users</a>
        <a
            class="nav-item nav-link"
            href="" th:href="@{/clients}"
            th:text="#{nav.clients}"
            sec:authorize-url="/clients"
        >clients</a>
        <a
            class="nav-item nav-link"
            href=""
            th:href="@{/tickets}"
            th:text="#{nav.tickets}"
            sec:authorize-url="/tickets"
        >tickets</a>
      </div>
      <div class="navbar-nav">
        <a class="ml-2 nav-item btn btn-primary" href="" role="button"
           sec:authorize-url="/tickets/report"
           th:href="@{/tickets/report}"
           th:text="#{nav.createTicket}">createTicket</a>
        <a class="ml-2 nav-item btn btn-secondary"
           th:href="${#locale.language == 'es'} ? '?lang=en' : '?lang=es'" role="button"
           th:text="${#locale.language == 'es'} ? 'English' : 'Español '">createTicket</a>
        <a
            class="ml-2 nav-item btn btn-default"
            href="#"
            role="button"
            th:href="@{/logout}"
            th:text="#{nav.logout}"
            sec:authorize="isAuthenticated()"
        >logout</a>
      </div>
    </div>
  </nav>
</div>

<div th:fragment="alerts">
  <div th:each="alert : ${alerts}" th:classappend="${alert.className}"
       class="alert alert-dismissible fade show" role="alert">
    <p class="mb-0" th:text="${alert.message}"></p>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>

<th:block th:fragment="beforeBodyClose">
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
          integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
          crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
          integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
          crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
          integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
          crossorigin="anonymous"></script>
</th:block>
</body>
</html>